{% load staticfiles %}

<div class="modal-c-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active modal-text-size" data-toggle="tab" href="#panel1" role="tab">Вход</a>
    </li>
    <li class="nav-item">
        <a class="nav-link modal-text-size" data-toggle="tab" href="#panel2" role="tab">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link modal-text-size" data-toggle="tab" href="#panel3" role="tab">Напомнить пароль</a>
    </li>
  </ul>



  <div class="tab-content">                   
    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
      <div class="modal-body text-center">
        <i class="material-icons md-80 mb-4">&#xe86c;</i>
        <form method="post" action="{% url 'login' %}" class="js-user-login-form mb-4">
        {% csrf_token %}
          <p> Email: 
          <label for="inputEmail"></label>
          <input id="form_email" type="email" name="email" class="form-control" placeholder="Введите Email" required="required" data-error="Valid email is required."> </p>

          <label for="inputPassword"></label>
          <input type="password" id="form_password" name="password" class="form-control" placeholder="Введите пароль" required="">
          <div class="checkbox mb-5"></div>     
          <button class="btn btn-lg btn-my btn-blue-color btn-block" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Войти</font></font></button>
        </form>
      </div>            
    
      <div class="text-center mb-4" role="tablist"></div>
      
    </div>
    <div class="tab-pane fade " id="panel2" role="tabpanel">                        
      <div class="modal-body text-center">
        <i class="material-icons md-80 mb-4">&#xe853;</i>
        <form method="post" action="{% url 'create' %}" class="js-user-create-form mb-4">
          {% csrf_token %}
            
          <label for="inputName"></label>
          <input id="form_name" type="text" name="username"class="form-control" placeholder="Ваше имя" required="">

          <label for="inputEmail"></label>
          <input  type="email" name="email" class="form-control" placeholder="Ваш email" required="required" data-error="Valid email is required."> 

          <label for="inputPassword"></label>
          <input type="password" name="pass_confirmation" class="form-control" placeholder="Пароль" required="" data-validation="length" data-validation-length="min8">

          <label for="repeat"></label>
          <input type="password" id="form_password" name="RepeatPassword" class="form-control" placeholder="Повторите пароль" data-validation="confirmation">

          <div class="checkbox mb-5"></div>
          <button class="btn btn-lg btn-my btn-blue-color btn-block" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Регистрация</font></font></button>
        </form>
      </div>   
    </div>        
    <div class="tab-pane fade " id="panel3" role="tabpanel">                        
      <div class="modal-body text-center">
        <i class="material-icons md-80 mb-4">&#xe853;</i>
          <form method="post" action="{% url 'remind' %}" class="js-user-remind-form mb-4">
          {% csrf_token %}
             
            <label for="inputEmail"></label>
            <input id="form_email" type="email" name="email" class="form-control" placeholder="Введите Email" required="required" data-error="Valid email is required.">

            
            <div class="checkbox mb-5"></div>     
            <button class="btn btn-lg btn-my btn-blue-color btn-block" type="submit">Напомнить</button>
          </form>
      </div>   
    </div>                  
  </div>
</div>
            
 
