{% load staticfiles %}

<div class="modal-c-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active modal-text-size" data-toggle="tab" href="#panel1" role="tab">Вход</a>
    </li>
    <li class="nav-item">
        <a class="nav-link modal-text-size" data-toggle="tab" href="#panel2" role="tab">Регистрация</a>
    </li>
  </ul>
  <div class="tab-content">                   
    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
      <div class="modal-body">
        <div class="text-center" ><h6 style="color: red;" id="log_message"></h6></div>
        <div class="text-center">
          <i class="material-icons md-80 mb-4 mt-4 ">&#xe86c;</i>
        </div>
        <form method="post" action="{% url 'users:login' %}" class=" form-signin js-user-login-form mb-4">
        {% csrf_token %}
          <p> 
          <label for="inputEmail">Email</label>
          <input id="form_email" type="email" name="email" class="form-control" placeholder="Электронный адресс" required="required" data-error="Valid email is required."> </p>

          <p><label for="inputPassword">Password</label>
          <input type="password" id="form_password" name="password" class="form-control" placeholder="Пароль" required=""></p>
          <div class="checkbox mb-5"></div>     
          <button class="btn btn-lg btn-my btn-blue-color btn-block" type="submit">Войти</button>
        </form>
      </div>            
      <div class="text-center mb-4" role="tablist">
        <button type="button"   data-url="{% url 'users:remind' %}" class="btn btn-link js-remind-password">
          <span aria-hidden="true">Забыли пароль?</span>
        </button> 
      </div>

    </div>
    <div class="tab-pane fade " id="panel2" role="tabpanel">                        
      <div class="modal-body">
        <div class="text-center" ><h6 style="color: red;" id="warning-create_message"></h6></div>
        <div class="text-center">
          <i class="material-icons md-80 mb-4 mt-4 ">&#xe853;</i>
        </div>
        <form method="post" action="{% url 'users:create' %}" class=" form-signin js-user-create-form mb-4">
          {% csrf_token %}
            
          <label for="inputName">Имя</label>
          <input id="form_name" type="text" name="username"class="form-control" placeholder="Ваше имя" required="required"/>

          <label for="inputEmail">Email</label>
          <input  type="email" name="email" class="form-control" placeholder="Ваш email" required="required"/> 

          <label for="inputPassword">Пароль</label>
          <input type="password" name="password" id="1password" class="form-control" placeholder="Пароль" required="required" minlength="5" />

          <label for="repeat">Повторить пароль</label>
          <input type="password" id="repeat_password" name="repeat_password" class="form-control" placeholder="Повторите пароль" required="required" minlength="5" data-rule-equalto ="#1password" />

          <div class="checkbox mb-5"></div>
          <button class="btn btn-lg btn-my btn-blue-color btn-block" type="submit"><font style="vertical-align: inherit;">Регистрация</font></button>
        </form>
      </div>   
    </div>                
  </div>
</div>
<script>
  
$(function () {
  $(".js-remind-password").click(function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
       
        $("#modal-user").modal("hide");
      },
      success: function (data) {
        $("#modal-user").modal("show");
        $("#modal-user .modal-content").html(data.html_form);
      }
    });
  });

});

</script>