{% load staticfiles %}
 
<div class="modal-body text-center">
    <div class="mt-4"><h2>Напомнить пароль</h2></div>
    
    <i class="material-icons md-80 mb-4 mt-4">&#xe853;</i>
    <form method="post" action="{% url 'users:remind' %}" class=" form-signin js-user-remind-form mb-4">
    {% csrf_token %}
       
      <label for="inputEmail"></label>
      <input id="form_email" type="email" name="email" class="form-control" placeholder="Введите Email" required="required" data-error="Valid email is required."> </p>

      
      <div class="checkbox mb-5"></div>     
      <button class="btn btn-lg btn-my btn-blue-color btn-block" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Напомнить</font></font></button>
    </form>
</div>    
        