<section id="one_curse_header" class=" header calendar-curse-section-header">
    <div class="container text-centre">
        <div class="calendar-curses-section-header-title">
            <h4 class="display-3">Календарь курсов</h4>
        </div>
        <div class="mb-4">
            <a class="btn btn-calendar mb-1" href="{% url 'school:calendar' 2017 %}">2017</a>
            <a class="btn btn-calendar mb-1" href="{% url 'school:calendar' 2018 %}">2018</a>
            <a class="btn btn-calendar mb-1" href="{% url 'school:calendar' 2019 %}">2019</a>
        </div>
    </div>
</section>